<div class="container g-mt-100">
    <h1>Контакты и реквизиты</h1>

<h4>Местная религиозная организация
православный приход Иоанно-Предтеченского храма
г. Жуковский 
Коломенской епархии Русской Православной Церкви (Московский патриархат) 
</h4>

    <ul class="list-unstyled mb-10">
        <li><b>Юр. адрес:</b> 140002, МО, г. Жуковский, Новорождественный пр-д, 8</li>
        <li><b>Факт. адрес:</b> 140002, МО, г. Жуковский, Новорождественный пр-д, 8</li>
        <li><b>Настоятель храма:</b> Симаков Сергей Петрович</li>
        <li><b>Телефон настоятеля храма:</b> +7 (916) 114 15 92</li>
        <li><b>Телефон/факс:</b> +7 (498) 482 95 55</li>
        <li><b>Организация экскурсий:</b> +7 (910) 493 66 31 помощник настоятеля Дмитрий Язов</li>
        <li><b>Email:</b> <a href="mailto:ioannopredtechensky@yandex.ru ">ioannopredtechensky@yandex.ru</a> </li>
    </ul>

    <ul class="list-unstyled mb-10">
        <li><b>ОГРН:</b> 1035000033188</li>
        <li><b>ИНН:</b> 5013039558</li>
        <li><b>КПП:</b> 501301001</li>
    </ul>

    <ul class="list-unstyled">
        <li><b>Наименование банка:</b> Филиал № 7701 Банка ВТБ (ПАО) в г. Москве</li>
        <li><b>БИК:</b> 044525745</li>
        <li><b>к/с:</b> 30101810345250000745</li>
        <li><b>р/с:</b> 40703810916030000011</li>
    </ul>


</div>